@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}
html,
body,
#root,
.App {
  height: 100%;
}
body {
  font-family: "Rubik", sans-serif;
  background: var(--very-dark-blue);
}

:root {
  /* Primary colors */
  --blue: #5847eb;
  --light-red-work: #ff8c66;
  --soft-blue-play: #56c2e6;
  --light-red-study: #ff5c7c;
  --limegreen-exercise: #4acf81;
  --violet-social: #7536d3;
  --soft-orange: #f1c65b;
  /* Neutral */
  --very-dark-blue: #0f1424;
  --dark-blue: #1c1f4a;
  --desaturated-blue: #6f76c8;
  --pale-blue: #bdc1ff;
}
.wrapper {
  width: 80%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: fit-content(250px) 800px;
  grid-template-rows: 600px;
  grid-gap: 20px;
  margin: 0 auto;
}
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.user-container {
  width: 250px;
  font-size: 18px;
  color: var(--pale-blue);
  border-radius: 20px;
  background-color: var(--dark-blue);
}
.report-for {
  margin: 50px 0 0;
  font-size: 16px;
}
.user-name {
  color: #ffffff;
  font-size: 50px;
  margin: 3px 0 0;
  font-weight: 300;
}
.about {
  height: 400px;
  background-color: var(--blue);
  padding-left: 20px;
  border-radius: 15px;
  padding-bottom: 50px;
}
img {
  margin-top: 20px;
  width: 90px;
}
.choose {
  padding: 10px 0 10px 20px;
  background-color: var(--dark-blue);
  height: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
ul {
  margin: 0;
  padding: 10px 0;
  color: var(--desaturated-blue);
  font-size: 16px;
  list-style-type: none;
}
li {
  padding: 10px 0;
  cursor: pointer;
}
li:hover {
  color: #fff;
}
li:active {
  color: #fff;
}
.active {
  color: #fff;
}

/* Card */
.card-container {
  width: 250px;
  height: 200px;
  background: var(--light-red-work);
  border-radius: 15px;
  color: #fff;
}
.top {
  text-align: right;
  height: 40px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.details {
  background: var(--dark-blue);
  padding: 20px;
  position: relative;
  border-radius: 14px;
  cursor: pointer;
}
.details:hover{
  background: #3a3e6c;
}
.details-title {
  display: flex;
  justify-content: space-between;
}
.hours {
  font-size: 42px;
  margin-top: 10px;
  margin-bottom: 0;
}
.last {
  font-size: 15px;
  color: var(--pale-blue);
}
